{% extends 'base.html.twig' %}

{% block title %}Hello ViewsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    body {
        background-image: url("https://th.bing.com/th/id/R.5585cba48358221ed570f897e31b0c7d?rik=sGOj%2byD7nBpk%2fg&pid=ImgRaw&r=0");
          height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
</style>

<div class="example-wrapper">
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <h1  >Hello !</h1>

    <h2>Welcome to the home page of our cooking blog </h2><br><br><br><br><br><br><br><br>
    
     
</div>

{% endblock %}